.col-6
  %div.mb-3
    = link_to "Home", dashboard_path, class: "fs-4 text-decoration-none text-black fw-semibold"
  = form_with model: Tweet.new, url: tweets_path, local: true, class: "w-100" do |f|
    = f.text_area :body, placeholder: "What's happening?", class: "w-100 form-control tweet-input mb-4"
    %div.d-flex.justify-content-end
      = f.submit "Tweet", class: "btn btn-twitter rounded-pill"
  %ul
    - Tweet.find_each do |tweet| 
      %li 
        = tweet.body
.col
  Column
