= turbo_frame_tag dom_id(tweet_presenter.tweet) do
  %div.tweet.d-flex.py-3.px-2
    .flex-shrink-0
      = image_tag tweet_presenter.avatar, size: '48x48', class: "rounded-circle"
    .flex-grow-1.ms-3
      .p
        %span.fw-bolder
          = "#{tweet_presenter.display_name}" 
        %span.text-secondary
          = "@#{tweet_presenter.username} · #{tweet_presenter.created_at}"
      .p.mb-0
        = tweet_presenter.body
      %div.d-flex.justify-content-between
        %div
          = link_to "#" do
            = image_tag 'view', class: 'position-relative', style: "bottom: 2px", width: '14'
        %div
          = link_to "#" do
            = image_tag 'replies', class: 'position-relative', style: "bottom: 2px", width: '14'
        %div
          = link_to "#" do
            = image_tag 'retweet', class: 'position-relative', style: "bottom: 2px", width: '16'
        %div
          = link_to "#" do
            = image_tag 'like', class: 'position-relative', style: "bottom: 2px", width: '14'
        %div.btn-group
          = link_to '#' do
            = image_tag 'bookmark', class: 'position-relative', style: "bottom: 2px", width: '10'
