= turbo_frame_tag dom_id(tweet_presenter.tweet) do
  %div.tweet.d-flex.py-3.px-2
    .flex-shrink-0
      = image_tag tweet_presenter.avatar, size: '48x48', class: "rounded-circle"
    .flex-grow-1.ms-3
      .p
        %span.fw-bolder
          = "#{tweet_presenter.display_name}" 
        %span.text-secondary
          = "@#{tweet_presenter.username} · #{tweet_presenter.created_at}"
      .p.mb-0
        = tweet_presenter.body
      %div.d-flex.justify-content-between.align-items-center.action-links
        %div
          = link_to "#", class: "text-decoration-none text-black views" do
            = image_tag 'view', class: 'me-1', width: '14'
        %div
          = link_to "#", class: "text-decoration-none text-black replies" do
            = image_tag 'replies', class: 'me-1', width: '14'
        %div
          = link_to "#", class: "text-decoration-none text-black retweets" do
            = image_tag 'retweet', class: 'me-1', width: '16'
        %div
          = link_to tweet_likes_path(tweet_presenter.tweet), data: { "turbo-method": "post"}, class: "text-decoration-none text-black likes" do
            = image_tag 'like', class: 'me-1', width: '14'
            %span
              = tweet_presenter.likes.size
        %div.btn-group
          = link_to '#', class: "text-decoration-none text-black bookmarks" do
            = image_tag 'bookmark', class: 'me-1', width: '10'
